@import "../../../styles/settings.scss";

.swipeable {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;

    .swipeButton {
        font-size: 14px;
        margin-bottom: -10px;

        .leftButton {
            margin-left: 10px;
            border: none;
            @extend %transitionHover;

        }

        .rightButton {
            margin-left: 1060px;
            border: none;
            @extend %transitionHover;

        }

        .leftButton:hover,
        .rightButton:hover {
            background-color: transparent;
            color: $primary;
            border: none;
        }

    }
}