@import "../../../styles/settings.scss";

.root {
  box-shadow: 2px 3.464px 6px $menuBar-box-shadow;
  background-color: $menuBar-bg;

  :global(.container) > :global(.row) {
    height: 84px;
  }

  .menu {
    display: flex;
    align-self: stretch;

    ul {
      margin: 0;
      padding: 0;
      display: flex;

      li {
        list-style: none;
        display: flex;
        align-items: stretch;
      }
    }

    a {
      @extend %transitionHover;
      color: $text-color;
      text-transform: uppercase;
      font-size: 12px;
      padding: 1rem;
      text-decoration: none;
      display: flex;
      align-items: center;
      border-top: 4px solid $menuBar-bg;
      font-weight: 500;
      letter-spacing: 1px;

      &:hover,
      &.active {
        background-color: $primary;
        color: $text-color-light;
        border-color: $primary;
      }

      &.active {
        border-color: $text-color;
      }
    }
  }
}
