@import "../../../styles/settings.scss";

.root {
  background-color: $companyClaimHeader-bg;

  :global(.container) > :global(.row) {
    height: 145px;
  }

  .phoneNumber {
    p {
      margin: 0;
      font-size: 17px;
      line-height: 42px;
      color: $companyClaim-phone-text;
      font-weight: 500;

      .icon {
        font-size: 32px;
        color: $primary;
        vertical-align: middle;
        margin-top: -3px;
        margin-right: 0.8rem;
      }
    }
  }

  .cart {
    .cartBox {
      display: inline-block;
      position: relative;
      color: $text-color-light;

      .cartIcon {
        background-color: $primary;
        width: 55px;
        height: 50px;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
      }

      .cartCounter {
        height: 27px;
        border-radius: 14px;
        background-color: $companyClaimHeader-bg;
        padding-left: 11px;
        padding-right: 11px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        color: $companyClaim-cart-counter;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
      }

      &:hover {
        .cartIcon {
          background-color: lighten($primary, 10%);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .companyContainer{
    position: relative;

    .logo{
      width: auto;
      position: absolute;
      left: 0%;
      bottom: 50%;
      transform: translate(0, 50%);
    }

    .cart{
      width: auto;
      position: absolute;
      right: 0%;
      top: 10%;
    }

    .phoneNumber{
      width: auto;
      position: absolute;
      right: 0%;
      bottom: 10%;

      p{
        font-size: 14px;
      }
    }
  }
}
