@import "../../../styles/settings.scss";

.root {
  .panelBar {
    margin-bottom: 30px;
    position: relative;

    :global(.row) > * {
      border-bottom: 4px solid $newFurniture-border;
    }

    .heading {
      position: relative;
      width: 100%;

      h3 {
        color: $text-color-primary;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 38px;
        margin: 0;
        letter-spacing: 1px;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 45px;
        border-bottom: 4px solid $primary;
      }
    }

    .dots {
      position: absolute;
      right: 0;
      top: 0;

      ul {
        margin: 0;
        padding: 6px 0 0 1rem;
        list-style: none;
        background-color: $newFurniture-bg;
        transform: translateY(15px);

        li {
          display: inline-block;
          margin-left: 0.5rem;

          button {
            display: block;
            width: 13px;
            height: 13px;
            border-radius: 6px;
            border: none;
            background-color: $newFurniture-bg2;
            font-size: 0;
            @extend %transitionHover;

            &.active,
            &:hover {
              background-color: $primary;
            }
          }
        }
      }
    }
  }

  .swipeButton {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

    .leftButton {
      border: none;
      @extend %transitionHover;
    }

    .rightButton {
      border: none;
      @extend %transitionHover;
    }

    .leftButton:hover,
    .rightButton:hover {
      background-color: transparent;
      color: $primary;
      border: none;
    }
  }

  .paragraph {
    text-align: center;
  }

  .fadeIn {
    opacity: 1;
    transition: opacity 750ms;
  }

  .fadeOut {
    opacity: 0;
    transition: opacity 500ms;
  }
}
