$base-padding: 24px;

// ---------- COLOR VARIABLES, USE ONLY IN SETTINGS!!!!! ---------- //

$white: #ffffff;
$white-2: #e1e1e1;
$white-3: #e2e2e2;
$lightGray: #b6b6b6;
$lightGray2: #d8d8d8;
$lightGray3: #e0e3ed;
$lightGray4: #a9a9a9;
$darkGray: #2a2a2a;
$darkGray2: #676767;
$orange: #d58e32;
$brown: #363636;
$brown2: #292929;
$lightBrown: #434343;
$shadow: rgba(1, 2, 2, 0.2);
$black: rgb(0, 0, 0);
$transparent: transparent;

// ---------- PROJECT COLOR VARIABLES, USE IN PROJECT ---------- //

$primary: $orange;

$text-color: $darkGray;
$text-color-light: $white;
$text-color-primary: $primary;
$text-color-old-price: $lightGray;

$header-topbar-bg: $lightBrown;

$footer-claim-bg: $darkGray;
$footer-bg: $brown;
$footer-text: $lightGray4;

$button-bg: $darkGray;

$featureBox-border: $lightGray;
$featureBox-bg: $white;

$productBox-bg: $white;
$productBox-bg-sale: $brown2;
$productBox-bg-photo: $white-3;
$productBox-border: $white-2;

$newFurniture-bg: $white;
$newFurniture-border: $white-3;
$newFurniture-bg2: $white-2;

$productSearchForm-border-color: $brown2;
$productSearchForm-button-bg: $transparent;
$productSearchForm-select-bg: $transparent;

$companyClaimHeader-bg: $brown;
$companyClaim-phone-text: $lightGray2;
$companyClaim-cart-counter: $lightGray3;

$star: $black;

$menuBar-box-shadow: $shadow;
$menuBar-bg: $white;
$mobile-menu-bg: $lightGray2;

$Coment-text: $darkGray2;

// ---------- Animations for hover ---------- //
$transitionTime-bg: 250ms;
$transitionTime-text: 250ms;
$transitionTime-shift: 250ms;
$transitionTime-scale: 250ms;
$transitionTimingFunction: linear;

$transitionShiftUpButton: 0px;
$transitionScaleButton: scale(1);

$transitionShiftUpCart: 0px;
$transitionScaleCart: scale(1);

%transitionHover {
  transition: background-color $transitionTime-bg,
              color $transitionTime-text,
              border-color $transitionTime-bg,
              margin-bottom $transitionTime-shift,
              transform $transitionTime-scale;
  transition-timing-function: $transitionTimingFunction;
}

%buttonHover {
 &:hover {
  margin-bottom: $transitionShiftUpButton;
  transform: $transitionScaleButton;
 }
}

%cartHover {
  &:hover {
   margin-bottom: $transitionShiftUpCart;
   transform: $transitionScaleCart;
  }
 }
