@import "../../../styles/settings.scss";

.root {
  background-color: $productBox-bg;
  border: 1px solid $productBox-border;
  margin-bottom: 2rem;

  .photo {
    position: relative;

    background: {
      color: $productBox-bg-photo;
      size: contain;
      position: center;
      repeat: no-repeat;
    }

    overflow: hidden;
    align-items: flex-end;

    .image {
      object-fit: cover;
      width: 100%;
      height: 200px;
    }

    .sale {
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $productBox-bg-sale;
      border-radius: 50%;
      color: $text-color-light;
      padding: 30px 15px 5px 15px;
    }

    .buttons {
      @extend %transitionHover;
      visibility: hidden;
      display: flex;
      justify-content: space-between;
      margin: 10px;
    }
  }

  &:hover {
    .buttons {
      visibility: visible;
    }

    .btnprice {
      background-color: $primary;
    }
  }

  .content {
    text-align: center;
    padding: 20px;

    h5 {
      color: $primary;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }

    .stars {
      a {
        text-decoration: none;
        color: $text-color;
      }
    }
  }

  .line {
    margin: 0 10px;
    border-bottom: 1px solid $text-color;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 50%;
      width: 30px;
      border-bottom: 4px solid $primary;
      transform: translateX(-50%);
    }
  }

  .actions {
    padding: 15px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .oldPrice{
    color: $text-color-old-price;
    text-decoration: line-through;
  }
}
