@import "../../../styles/settings.scss";

.root {
    margin-top: 30px;
    background-color: $gallery-color;
    border: 1px solid $gallery-border;
}

.categories {
    @extend %transitionHover;
    a {
        display: block;
        margin-right: -1px;
        color: $gallery-text-main;
        text-transform: uppercase;
        font-size: 14px;
        padding: 8px;
        text-decoration: none;
        border-right: 1px solid $gallery-border;
        letter-spacing: 1px;
        text-align: center;
        font-weight: 700;
        
        &:hover,
        &.active {
            background-color: $gallery-border;
            color: $primary;
        }
    }
}

.photo {
    position: relative;
    height: 410px;

    background: {
        position: center;
        repeat: no-repeat;
    }

    .badge {
        text-align: center;

        .price {
            display: inline-block;
            text-align: center;
            position: absolute;
            bottom: 30%;
            right: 20%;
            z-index: 1;
            height: 105px;
            width: 105px;
            border-radius: 50%;
            background-color: $gallery-bg-pr;
            font-weight: 600;
            text-shadow: 1px 1px 1px $gallery-text-main;

            &:first-child {
                margin: 0;
                padding-top: 30px;
            }

            &:nth-child(1) {
                margin: 0;
                color: $gallery-color;
                text-decoration: line-through;
                text-decoration-color: $primary;
            }
        }

        h4 {
            display: inline-block;
            vertical-align: middle;
        }

        .nameBadge {
            display: inline-block;
            position: absolute;
            bottom: 10%;
            right: calc(20% - 63px);
            width: 250px;
            height: 107px;
            background-color: $gallery-color;
            line-height: 107px;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 30px 30px 0 0;
                border-color: $gallery-bg transparent;
            }

            &::after {
                content: "";
                position: absolute;
                right: 0;
                bottom: 0;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 0 30px 30px;
                border-color: $gallery-bg transparent;
            }

            h5 {
                margin-top: 30px;
            }

            &:nth-child(2) {
                line-height: 20px;
            }
        }
    }

    .stars {
        color: $brown2;
        border-color: $gallery-border;
        @extend %transitionHover;

        &:hover {
            color: $primary;

        }
    }
}

.sliderList {
    height: 87px;
    border: 1px solid $gallery-border;

    .product {
        margin: 8px 7px 8px 0;
        height: 70px;
        width: 70px;
        cursor: pointer;
        @extend %transitionHover;

        background: {
            position: center;
            repeat: no-repeat;
        }

        background-color: $gallery-bg-pr;
        background-blend-mode: soft-light;

        &:hover,
        &active,
        &:nth-child(2) {
            background-blend-mode: normal;
        }
    }
}

.sliderArrow {
    width: 33px;
    height: 70px;
    background-color: $gallery-bg;
    text-align: center;

    &:first-of-type {
        margin: 8px 7px;
    }

    &:last-of-type {
        margin: 8px 7px 8px 0;
    }

    &:first-child,
    &:last-child {
        line-height: 70px;
        color: $gallery-color;
        vertical-align: middle;
        cursor: pointer;

        &:hover {
            color: $primary;

        }
    }
}

.buttons {
    position: absolute;
    top: 25%;
    @extend %transitionHover;

    &>* {
        display: block;
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 10px;
        border: 4px solid;

        &:not(.noHover):hover {
            background-color: transparent;
            color: $primary;
            border-color: $primary;
        }

        &:hover+.tooltiptext {
            visibility: visible;
        }
    }
}

.icon {
    font-weight: 700;
}

.tooltip {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tooltiptext {
    position: absolute;
    padding: 5px;
    visibility: hidden;
    white-space: nowrap;
    width: fit-content;
    background-color: $text-color;
    color: $gallery-color;
    text-align: center;
    z-index: 1;

    &:first-of-type {
        top: 0;
        left: 10%;

        &::before {
            content: "";
            position: absolute;
            right: 87%;
            top: 5px;
            width: 0;
            height: 0;
            border-top: 13px solid transparent;
            border-right: 26px solid $text-color;
            border-bottom: 13px solid transparent;
            z-index: -1;
        }
    }

    &:nth-of-type(2) {
        top: 50px;
        left: 10%;

        &::before {
            content: "";
            position: absolute;
            right: 88%;
            top: 5px;
            width: 0;
            height: 0;
            border-top: 13px solid transparent;
            border-right: 26px solid $text-color;
            border-bottom: 13px solid transparent;
            z-index: -1;
        }
    }

    &:nth-of-type(3) {
        top: 100px;
        left: 10%;

        &::before {
            content: "";
            position: absolute;
            right: 83%;
            top: 5px;
            width: 0;
            height: 0;
            border-top: 13px solid transparent;
            border-right: 26px solid $text-color;
            border-bottom: 13px solid transparent;
            z-index: -1;
        }
    }

    &:nth-of-type(4) {
        top: 150px;
        left: 10%;

        &::before {
            content: "";
            position: absolute;
            right: 83%;
            top: 5px;
            width: 0;
            height: 0;
            border-top: 13px solid transparent;
            border-right: 26px solid $text-color;
            border-bottom: 13px solid transparent;
            z-index: -1;
        }
    }
}