@import "../../../styles/settings.scss";

.root {
  border: 1px solid $productSearchForm-border-color;
  display: inline-flex;
  height: 45px;
  color: $text-color;

  .category {
    border-right: 1px solid $productSearchForm-border-color;
    display: flex;
    align-items: center;
    position: relative;

    &:hover {
      background-color: $primary;

      select {
        color: $productBox-bg;
      }

      .icon:first-child {
        color: $productBox-bg;
      }

      .icon:last-child {
        color: $productBox-bg;
      }
    }

    .icon:first-child {
      color: $text-color-primary;
      position: absolute;
      left: 10px;
      z-index: 0;
    }

    .icon:last-child {
      position: absolute;
      right: 10px;
      z-index: 0;
    }

    select {
      -webkit-appearance: none;
      border: 0;
      background-color: $productSearchForm-select-bg;
      padding: 5px 30px 5px 35px;
      position: relative;
      z-index: 1;
      font-size: 14px;
      outline: none;
    }
  }

  .searchField {
    display: flex;
    align-items: center;
    position: relative;

    input {
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;

      &::placeholder {
        color: $text-color;
      }
    }

    button {
      border: 0;
      background-color: $productSearchForm-button-bg;
      outline: none;
    }
  }
}
