@import "../../../styles/settings.scss";
.root {
  border: 1px solid $form-border-color;
  display: inline-flex;
  height: 45px;
  color: $text-color;

  .category {
    border-right: 1px solid $form-border-color;
    position: relative;
    display: flex;
    align-items: center;

    &:hover {
      background-color: $primary;

      button {
        color: white;
      }

      .icon:first-child {
        color: white;
      }
      .icon:last-child {
        color: white;
      }
    }

    .icon:first-child {
      color: $primary;
      position: absolute;
      left: 10px;
      z-index: 0;
    }

    .icon:last-child {
      position: absolute;
      right: 10px;
      z-index: 0;
    }

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      padding: 5px 10px;
      font-size: 14px;
      display: flex;
      align-items: center;
      margin: 0 24px;
      outline: none;
    }

    ul {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #fff;
      border: 1px solid #ccc;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    li {
      padding: 5px 10px;
      cursor: pointer;

      &:hover {
        background-color: $primary;

        .listElement {
          color: white;
        }
      }
    }
    .listElement {
      color: $text-color;
      text-decoration: none;
      font-size: 14px;
    }
  }

  .category:hover ul {
    display: block;
  }

  .searchField {
    display: flex;
    align-items: center;
    position: relative;

    input {
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;

      &::placeholder {
        color: $text-color;
      }
    }

    button {
      border: 0;
      background-color: transparent;
      outline: none;
    }
  }
}
