@import "../../../styles/settings.scss";

.root {
  .mainContainer {
    display: flex;
    flex-direction: row;
    padding-bottom: 5rem;

    p {
      text-transform: uppercase;
    }
    .leftSection {
      height: 420px;
      width: 50%;
      margin-right: 2rem;
      position: relative;
      &::after {
        content: "";
        background-color: $productBox-bg-sale;
        opacity: 0.5;
        height: 90%;
        width: 90%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        overflow: hidden;
      }

      .category,
      .name,
      .discount {
        position: absolute;
        color: $text-color-light;
        z-index: 5;
        font-weight: 600;
      }
      .category {
        top: 55%;
        left: 7%;
        font-size: 2rem;
      }
      .name {
        top: 50%;
        left: 7%;
      }
      .discount {
        top: 70%;
        left: 7%;
        border: 4px solid $text-color-light;
        padding: 5px;
        font-size: 1.5rem;
      }
    }

    .rightSection {
      width: 50%;
      height: 420px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .rightUpPicture,
      .rightDownPicture {
        height: 200px;

        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
          overflow: hidden;
        }
      }
      .rightDownPicture {
        position: relative;
        .save {
          position: absolute;
          top: 60%;
          right: 5%;
        }
        .collection {
          position: absolute;
          right: 5%;
          top: 50%;
          color: $text-color-light;
        }
      }
      .rightUpPicture {
        position: relative;
        .text {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 1.5rem;
          font-weight: 600;
          line-height: 1rem;
          .save {
            color: $primary;
          }
          .collection {
            font-size: 0.8rem;
            line-height: 0.5rem;
          }
        }
      }
    }
  }
}
